body {
	cursor: url('images/cursores/cursor.cur'), url('images/cursores/cursor.gif'), auto;
}
a:hover, input:hover, button:hover, input[type=checkbox]:hover, label:hover{
	cursor: url('images/cursores/link.png'), auto;
}



.limit{
	margin:0 auto;
	width:1024px;
	height:665px;	
}
.conteudo {
	background:url("../imagens/ragnabg.jpg")  no-repeat;
	width:1024px;
	height:100%;	
}

.box{
	background:#ffffff;
	border: 1px solid #c0c5c1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.box .top, .estatus{
	background: url("images/top-bg.png")  repeat fixed;
	border-bottom: 1px solid #000208;
	height: 16px;
	line-height: 16px;
	width:100%;
}

.box .top h1{
	font-size: 0.8em;
	font-family: helvetica, verdana, trebuchet;
}
.bal-ico{
	width:10px;
	height:10px;
	background: #4564a4;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 99999;
	float:left;
	margin:2px 5px 0 5px;
}
.bal-ico:hover{
	background: #86aae4;
}
.box form {
	width:100%;
	height:103px;
	margin:10px 0 0 0;
}
.box form label {
	display:inline-block;
	margin:0 auto;
	color:#4564a4;
	font-family: helvetica, verdana, trebuchet;
	font-size: 0.9em;
	float:left;
	width:220px;
	margin:2px 0 0 20px;
	font-weight: bolder;
}
.box input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgb(238, 238, 238) inset;
    -webkit-text-fill-color: #8f8682;
}

.box form label input {
	float:right;
	border: 2px solid #e5e7ea;
	background:#ffffff;
	margin:0 0 10px 0;
	padding:0 0 0 5px;
}

/*check box Login*/
input[type=checkbox].check {
	display:none;
}
input[type=checkbox].check + label.manter {
	padding-left:20px;
	height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	width: 60px;
}

input[type=checkbox].check:checked + label.manter {
	background-position: 0 -17px;
}
						
.manter{ 
	background:  url("images/elegant.png")
}

/*Fim check box Login*/
.login form label {
	width:170px;
}
.login form label input {
	float:right;
	width:100px;
	border: 2px solid #e5e7ea;
	background:#ffffff;
	margin:0 0 12px 0;
	padding:0 0 0 5px;
}
.login form .label-senha {
	display:block;
	clear: both;
}
.box .btns {
	background: url("images/bg-btn.png")  repeat fixed;
	padding: 3px 0 3px 0;
	width:100%;
	border-top: 1px solid #c0c5c1;
}
.button {
	border: solid 1px #9d9d9d;
	border-radius:5px;
	padding:2px;
	text-decoration: none;
	color:#4564A4;
	font-family: helvetica, verdana, trebuchet;
	font-weight: bolder;
	text-align: center;
	background: #ffffff;
}
.delet{
	float:left;
	margin:0 0 0 5px;
}
.button:hover{
	color:;
	background: #b4c5f8;
}
.btn {
	float:right;
	margin:0 5px 0 0;
	width:40px;
}
.btn-del {
	float:left;
	margin:0 0 0 5px;
}
.cancel{
	margin:0 5px 0 0;
	float:right;
}
.servers {
	width:300px;
	height:200px;
	margin: 200px auto;
	position:absolute;
	left:0;
	right:0;
}
.login form {
	width: 300px;
}
.login{
	width: 300px;
	margin: 400px auto;
	position:absolute;
	left:0;
	right:0;
}
.msg{
	width: 260px;
	height:103px;
	margin: 400px auto;
	position:absolute;
	left:0;
	right:0;
}
.msg h1.title{
	font-family: helvetica, verdana, trebuchet;
	display: block;
	width: 220px;
	margin: 20px auto;
	text-align: center;
}
.char_select{
	margin: 200px auto;
	position:absolute;
	left:0;
	right:0;
}
.servers ul {
	background: url("images/bg-btn.png")  repeat fixed;
	width:270px;
	height:140px;
	margin:0 auto;
	padding:10px 0 5px 10px;
}

.servers ul li {
	font-family: helvetica, verdana, trebuchet;
	font-size: 0.9em;
	list-style: none;
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
}
.servers ul li:hover{
	background: #9fc0f6;
	padding:2px 0 2px 10px;
	margin:0 0 0 -10px;	

}
.servers ul li a {
	color:#000208;
	text-decoration: none;
	padding:0 72% 0 0 ;
}

.dragme{
	margin:0 auto;
	position:relative;
	width:50%;
}
/*Seleção de personagens*/
.char_select {
	float:left;
	margin-top:150px;
	margin-left:auto;
	width:576px;
	height:342px;
	background: url("images/win_select_02.png")  no-repeat ;
}
.carousel{

	position:relative;
	margin:0 0 20px 0;
}
.carousel p.number {
	display: inline-block;
	width:35px;
	font-size: 0.8em;
	color:#f10000;
	font-family: helvetica, verdana, trebuchet;
	position:absolute;
	left:0;	
	right:0;
	margin:5px auto;
}
.carousel p span {
	color:#000000;
}
.carousel .total{
	width:130px;
	height:20px;
	float:right;
	margin:10px 10px 0 0;
	border:2px solid #d4dbea;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.carousel .total p {
	font-weight: bolder;
	font-family: helvetica, verdana, trebuchet;
	font-size: 0.8em;
	color:#4564a4;
	margin:3px 0 0 5px ;
}
.carousel .total p span {
	font-weight: lighter;
	font-family: helvetica, verdana, trebuchet;
	font-size: 0.8em;
}
.carousel-inner{
	width:540px;
	margin:0 auto;
	position:relative;
	left:0;
	right:0;

}

.carousel-inner ul{
	margin:0 0 0 30px;
	overflow: hidden;
}
.carousel-inner ul li {
	width:139px;
	height:144px;
	position:relative;
	background-position: top 105px left 40px;
	float:left;
	margin:7px 0 0 25px;
	/*background: rgba(49, 70, 90, 0.4);*/

}
.carousel-inner ul li a {
	display: inline-block;
	width:140px;
	height:160px;
}
.carousel-inner ul li a.active{
	display: inline-block;
	background:  url("images/client_select_cs.png")  no-repeat ;
	z-index: 0;
}
.carousel-inner ul li a:hover{
	background:url("images/client_select_cs.png")  no-repeat ;
}
.carousel-inner .obj-char {	
	background: url("images/chars/charsim_03.png")  no-repeat ;
	width:36px;
	height:91px;
	position:relative;
	margin:40px auto;
}
.carousel .pagination {
	width:550px;
	margin:0 auto;
	background: #ff00ff;
	position:relative;
	left:0;
	right:0;
	top:-75px;
}

.carousel .pagination a.left,
 .carousel .pagination a.right,
 .carousel .pagination a.top,
 .carousel .pagination a.bottom {
	width:10px;
	height:13px;
	text-indent: -9999;
	position:absolute;
}

.carousel .pagination a.left {
	background: url("images/client_select_left.png")  no-repeat ;
	left:0;
	float:left;
}
.carousel .pagination a.right {
	background: url("images/client_select_right.png")  no-repeat ;
	float:right;
	right:0;
}
.carousel .pagination a.top-arrow {
	background: transparent url("images/client_select_top.png")  no-repeat ;
	float:left;
	left:0;
}
.carousel .pagination a.bottom-arrow {
	background: url("images/client_select_bottom.png")  no-repeat ;
	float:right;
	right:0;
}

.stats ul {
	/*background: rgba(49, 70, 0, 0.8);*/
	width: 330px;
	height: 120px;
	margin: -2px 0 4px 67px;
}
.stats ul li {
	float:left;
	width:130px;
	font-size: 1.0em;
	line-height:106%;
}
.stats li.bfr {
	margin:0 0 0 15px;
}
/*Criação de Personagens*/
.char_make {
	float:left;
	margin-top:150px;
	margin-left:auto;
	width:576px;
	height:329px;
	background: url("images/win_make_02.png")  no-repeat ;
}
.char_make .col {
	width:31%;
	height:280px;
	float:left;
	margin:0 0 0 10px;
	/*background: rgba(49, 70, 90, 0.4);*/
}
.char_make .btns {
	padding: 6px 0 3px 0;
}
.char_make .col .carousel{
	width:140px;
	height:160;
	margin:40px auto;
}
.char_make .col .carousel .pagination{
	width:110px;
	margin:-125px 0 0 12px;
}
.char_make .col .carousel .pagination a.top-arrow{
	width:13px;
	height:13px;
	margin:-40px 0 0 49px;
}
.char_make .col .carousel-inner {
	width:140px;
	height:160;
	margin:0 auto;
}
.char_make .col .carousel-inner .obj-char {
	margin:63px 0 20px 20px;
	width:36px;
	height:91px;
}
.char_make .col .carousel-inner form{
	margin:0 0 0 0;
}
.char_make .col .carousel-inner form label, .char_make .col .carousel-inner form label input {
	width:95px;
	height:16px;
	border:none;
	padding: 0 0 0 4px;
	color:#4d4d4d;
}
.char_make .col .carousel-inner form label{
	margin:-3px 0 0 33px;
}
#poligon {
	fill: rgba(49, 70, 230, 0.9);
	margin:0 0 0 -100px;
	viewBox:0 0 612 792;
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(1deg);
	-ms-transform:rotate(0deg);
}
#object{
    width: 189px;
	height: 289px;
	margin: -8px 0 0 -5px;
}
.btnstr, .btnvit, .btnint, .btnluk, .btnagi, .btndex {
	width:40px;
	height:40px;
	position:absolute;
	border:none;
}
.btnstr {
	background:  url("images/arw-str0.png")  no-repeat ;
	margin: -272px 0 0 268px;
}
.btnvit {
	background:  url("images/arw-vit0.png")  no-repeat ;
	margin: -216px 0 0 350px;
}
.btnint {
	background:  url("images/arw-int0.png")  no-repeat ;
	margin: -77px 0 0 272px;
}
.btnluk {
	background:  url("images/arw-luk0.png")  no-repeat ;
	margin: -130px 0 0 349px;
}
.btnagi {
	background:  url("images/arw-agi0.png")  no-repeat ;
	margin: -216px 0 0 188px;
}
.btndex {
	background:  url("images/arw-dex0.png")  no-repeat ;
	margin: -130px 0 0 190px;
}
.stats-make {
	width:20px;
	margin:8px auto;
	
}
.stats-make li {
	color:#3d3d3d;
	font-family: trebuchet,verdana,arial;
	font-size: 0.9em;
	line-height: 1.12em;
}
