@media only screen and (-webkit-min-device-pixel-ratio: 0) and (min-device-width: 1025px) {
	html { 	overflow: hidden; }
	body{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 12px;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	::-webkit-scrollbar {
		width: 10px;
		height: 1px;
	}
	
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
		display: block;
		height: 10px;

	}
	
	::-webkit-scrollbar-button:vertical:increment,
	::-webkit-scrollbar-button:vertical:decrement {
		background-color: #f1f1f1;
	}
	
	::-webkit-scrollbar-track-piece {
		background-color: rgba(00, 00, 00, 0.5);
		-webkit-border-radius: 3px;
	}
	
	::-webkit-scrollbar-thumb:vertical {
		height: 20px;
		background-color: #ccc;
		-webkit-border-radius: 3px;
	}
	
	::-webkit-scrollbar-thumb:horizontal {
		width: 20px;
		background-color: #000;
		-webkit-border-radius: 3px;
	}
}
* {margin:0px; padding:0px;}
html,body { height: 100%; }

#map {
	height: 100%;
	z-index: 1;
	width: 100%;
}
.dragme {
	z-index: 5;
	position:absolute;
}
#bg {
	background: url(../imagens/bg.png);
	height:100%;
	z-index: 0;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#char {
	position: absolute;
	z-index: -9999;
	height: 80px;
	width: 53px;
	z-index: 3;
}
#monster {
	background: url(../imagens/poring/front.gif);
	height: 39px;
	position: fixed;
	width: 40px;
	z-index: 2;
}
.monster, #monster {
	cursor: url('images/cursores/combat.png'), auto;
}
.char-infos{
	background:url("images/basewin_bg2.bmp") no-repeat;
	border: 1px solid #c0c5c1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
	width:220px;
	height:124px;
	margin: 0 0 0 0;
	position:absolute;
}
.info-botoes{
	margin:126px 0 0 0;
	width:220px;
	height:47px;
	opacity:0.6;
	display: inline-block;
}
.info-botoes:hover{
	opacity:1;
  -webkit-transition: opacity 0.4s;
  -moz-transition:opacity 0.4s;
  -ms-transition:opacity 0.4s;
  -o-transition:opacity 0.4s;
}
.info-botoes .btnsc {
	padding:3px;
	font-weight: lighter;
	color:#3d3d3d;
	float:left;
	margin:0 5px 0 0;
}
.skill-shortcut{
	z-index: 5;
	position: absolute;
	background:#ffffff;
	border: 1px solid #c0c5c1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 280px;
	height:34px;
	margin:0 0 0 520px;
	resize:both;
	min-height: 34px;
	max-height: 110px;
	min-width: 280px;
	max-width: 280px;
}
.skill-shortcut .barra-1, .skill-shortcut .barra-2, .skill-shortcut .barra-3{
	border: 1px solid #c3c3c3;
	height:34px;
	width: 265px;
	background:url("images/bg-btn.png") repeat;
}
.skill-shortcut .barra-1 div, .skill-shortcut .barra-2 div, .skill-shortcut .barra-3 div{
	background: #ffffff;
	border: 1px solid #c3c3c3;
	height: 25px;
	width: 23px;
	float: left;
	margin: 4px 0 0 4px;
	color:#4d4d4d;
	font: 0.8em arial;
	text-align: center;
}
.skill-shortcut .barra-1 div:hover, .skill-shortcut .barra-2 div:hover, .skill-shortcut .barra-3 div:hover{
	border: 1px solid #c3c3c3;
	border-top: 3px solid #b2b2b2;
	border-left: 3px solid #b2b2b2;
	height: 22px;
	width: 21px;
	background: #f2f2f2;
	color: #1d1d1d;
}

/*Chat*/
.chat-abas ul {
	position:absolute;
	margin:-28px 0 0 0;
}

.chat-abas ul li{
	float:left;
	width:100px;
	background: rgba(00, 00, 00, 0.6);
	margin:0 0 0 -1px;
	border: 1px solid #c0c5c1;
	text-align: center;
	padding:5px;
	border-radius:7px 7px 0 0;
}
.chat-abas a {
	padding:5px 10px 5px 10px;
	text-decoration: none;
	color:#c0c5c1;
	font: 0.8em helvetica, verdana, trebuchet;
}
.chat-abas ul li.active a{
	color:#fdfdfd;
}
.chat-abas ul li.active{
	border:none;
	border-top: 1px solid #c0c5c1;
	border-left: 1px solid #c0c5c1;
	border-right: 1px solid #c0c5c1;
}

.chat-char{
	position: absolute;
	border: 1px solid #c0c5c1;
	background: transparent;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 570px;
	left: 0px;
	z-index: 999;
	
}
.chat-top{
	background: rgba(00, 00, 00, 0.6);
	height:80px;
	width:552px;
	overflow:auto;
	border-top: 1px solid #c0c5c1;
}
.chat-top p {
	font-family: helvetica, verdana, trebuchet;
	font-size: 0.8em;
	margin:5px 5px 10px 10px;
	line-height: 1.2em;
}
.chat-top .conversation{
	color:#04f81b;
}
.global-msg{color:#fff603;}
.guild-msg{color:#93ddff;}
.guild-msg-chat{color:#00ffcc;}
.debuff-msg{color:#fc2828;}
.buff-msg{color:#00e4ff;}
.party-msg{color:#fca528;}
.chat-top .speaked{
	margin:0 0 0 5px;
}
.inputs-chat {
	float: left;
	background: #ffffff;
	width:550px;
	position:relative;
	border-radius: 3px;
	border: 1px solid #b2b2b2;
}
.inputs-chat input{
	background: #f7f7f7;
	border-top: 1px solid #b2b2b2;
	border-left: 1px solid #b2b2b2;
	float:left;
	height:16px;
	margin:3px 0 5px 5px;
	padding:0 0 0 5px;
} 	
.destinatario {width:60px;}
.mensagem {width:420px;}
.inputs-chat .combo-destinatario{
	margin:4px 0 0 3px;
	background: url('images/dialog_btn0.bmp');
	width:8px;
	height: 18px;
	display: block;float:left;
}
.inputs-chat .combo-destinatario:hover{
	background: url('images/dialog_btn1.bmp');
}
.inputs-chat .link-ball{
	background:url('images/minin-off.png') no-repeat;
	width:10px;
	height:10px;
	display: block;
	float:right;
	margin:8px 5px 0 0;
}
.hidden {
	display:none;
}
.chat-abas{
	margin-bottom: -2px;
}
.barra {
	width:65px;
	height:3px;
	border: 1px solid #0D1E61;
	background: #0D1E61;
	margin:0 0 0 -10px;	
}
.life{margin:90px 0 0 -10px;}
.life .control{
	width:100%;
	height:100%;
	background:#04f81b;
}
.skill .control{
	width:100%;
	height:100%;
	background:#0435F8;
}
.life-red {
	width:10%;
	background:red;	
}
.shadow{
	padding: 0 0 0 20px;
	width:30px;
	height:30px;
	background-color: rgba(00, 00, 00, 0.5);
	margin:-45px 0 0 0;
	border-radius: 25px 25px 27px 27px;
}
#personagem {
	position: absolute;
	z-index: -9999;
	height: 80px;
	width: 53px;
	z-index: 6;
}
.centralizar{
	width: 30%;
	margin: 0 auto;
}
.centralizar-big{
	width: 57%;
	margin: 0 auto;
}
.centralizar-small{
	width:27%;
	margin:0 auto;
}
.gmsg{
	background-color: rgba(00, 00, 00, 0.5);
	border-radius: 6px;
	width: auto;
	height: auto;
	margin: -70px 0 0 -110px;
	position: absolute;
}
.gmsg p {
	width: 260px;
	color:#fff;
	padding: 5px;
	font-size: 0.9em;
	display: inline-block;
	word-wrap: break-word; 
}

/* Janelas */
.skills-class-select{
	width:315px;
	height: 300px;
	resize: both;
	min-width: 300px;
	max-width: 650px;
	max-height: 450px;
	min-height: 300px;
	margin:200px 0 0 100px;
}
.skills-class-select .classe-primaria,
.skills-class-select .classe-secundaria,
.skills-class-select .classe-tercearia{
	overflow: auto;
	resize: none;
}
.skills-class-select .classe-primaria,
.skills-class-select .classe-secundaria,
.skills-class-select .classe-tercearia,
 .job-select-skill{
 	height: 85%;
 }
.job-select-skill{
	display: block;
	width:50px;
	overflow: hidden;
	float: left;
	resize:none;
}
.job-select-skill ul li a{
	display: block;
	height:50px;
	padding:20px 0 0 0;
	width:30px;
	border: 1px solid #c3c3c3;
	border-left: none;
	margin: 10px 0 0 0;
	text-align: center;
	text-decoration: none;
}
.job-select-skill ul li a:hover,
.job-select-skill ul li a.active{
	background:rgba(0,0,0,0.1); 
	color:red;
  -webkit-transition: color 0.4s;
  -webkit-transition: background 0.4s;
}

.skill-class{
	width:70px;
	display: block;
	float:left;
	margin:2%;
}
.skill-thumb{
	background: #ffffff;
	border: 1px solid #c3c3c3;
	height: 25px;
	width: 23px;
	display: block;
	margin: 4px auto;
	color:#4d4d4d;
	font: 0.8em arial;
	text-align: center;
}
.skill-class .skill-level span {
	margin:0 auto;
	display: block;
	width:40px;
}
.skill-name{
	font-family: verdana;
	color:#3d3d3d;
	text-align: center;
}
.skill-class .control a.down,
.skill-class .control a.up {
	width:13px;
	height:13px;
	text-indent: -9999px;
	position:relative;
	bottom: 15px;
}
.skill-class .control a.up {
	background: transparent url("images/client_select_left.png")  no-repeat ;
	float:left;
	left:0;
}
.skill-class .control a.down {
	background: url("images/client_select_right.png")  no-repeat ;
	float:right;
	right:0;
}
.skill-bottom{
	width: 100%;
	height: 15%;
	bottom:0;
}
.skill-bottom .button {
	float: right;
	margin:0 5% 0 0;
}
.skill-bottom span{
	margin:0 0 0 10%;
}




