body {
	font-family: helvetica, verdana, trebuchet;
}
<<<<<<< HEAD
=======

<style>body{cursor:url(http://www.cristoferdelatorre.com/gifs/cursores/perro-andarin.ani), url(http://www.cristoferdelatorre.com/gifs/cursores/perro-andarin.gif), auto;}</style><span style="font:tahoma; font-size:9px;"><a href="http://pt.gifanimados.org/">Gifs animados</a></span><br />
>>>>>>> 3b3ac7a3160093173606185e8ab651061dbc441d
