.char-infos{
	height:;
	background:#ffffff;
	border: 1px solid #c0c5c1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.skill-shortcut{
	background:#ffffff;
	border: 1px solid #c0c5c1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.skill-shortcut .barras{
	height:60px;
	background:url("images/bg-btn.png")  no-repeat;
}
.skill-shortcut .barras div{
	border: 1px solid #3d3d3d;
	height: 25px;
	width: 23px;
	float: left;
	margin: 4px 0 0 4px;
}