doctype html
	html
		head
			title="Ragnarök Online"
			script(src='http://code.jquery.com/jquery-1.10.1.min.js')
			script(src='/js/engine.js')
			script(src='/socket.io/socket.io.js')
			link(rel='stylesheet', href='/css/interface.css')

		body
			#map.sand-1
				#me.kagerou